<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (pmEtablissement(); as pmEtablissementRef) {
      <div>
        <h2 data-cy="pmEtablissementDetailsHeading"><span jhiTranslate="tmp9App.pmEtablissement.detail.title">Pm Etablissement</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ pmEtablissementRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="tmp9App.pmEtablissement.idEtablissementRPG">Id Etablissement RPG</span></dt>
          <dd>
            <span>{{ pmEtablissementRef.idEtablissementRPG }}</span>
          </dd>
          <dt><span jhiTranslate="tmp9App.pmEtablissement.codePartenaireDistributeur">Code Partenaire Distributeur</span></dt>
          <dd>
            <span>{{ pmEtablissementRef.codePartenaireDistributeur }}</span>
          </dd>
          <dt><span jhiTranslate="tmp9App.pmEtablissement.numeroSiretSiege">Numero Siret Siege</span></dt>
          <dd>
            <span>{{ pmEtablissementRef.numeroSiretSiege }}</span>
          </dd>
          <dt><span jhiTranslate="tmp9App.pmEtablissement.codeEtat">Code Etat</span></dt>
          <dd>
            <span>{{ pmEtablissementRef.codeEtat }}</span>
          </dd>
          <dt><span jhiTranslate="tmp9App.pmEtablissement.libelleEtat">Libelle Etat</span></dt>
          <dd>
            <span>{{ pmEtablissementRef.libelleEtat }}</span>
          </dd>
          <dt><span jhiTranslate="tmp9App.pmEtablissement.codeCategoriePersonne">Code Categorie Personne</span></dt>
          <dd>
            <span>{{ pmEtablissementRef.codeCategoriePersonne }}</span>
          </dd>
          <dt><span jhiTranslate="tmp9App.pmEtablissement.libelleCategoriePersonne">Libelle Categorie Personne</span></dt>
          <dd>
            <span>{{ pmEtablissementRef.libelleCategoriePersonne }}</span>
          </dd>
          <dt><span jhiTranslate="tmp9App.pmEtablissement.codeType">Code Type</span></dt>
          <dd>
            <span>{{ pmEtablissementRef.codeType }}</span>
          </dd>
          <dt><span jhiTranslate="tmp9App.pmEtablissement.dateCreationJuridique">Date Creation Juridique</span></dt>
          <dd>
            <span>{{ pmEtablissementRef.dateCreationJuridique }}</span>
          </dd>
          <dt><span jhiTranslate="tmp9App.pmEtablissement.dateEtat">Date Etat</span></dt>
          <dd>
            <span>{{ pmEtablissementRef.dateEtat }}</span>
          </dd>
          <dt><span jhiTranslate="tmp9App.pmEtablissement.dateFermetureJuridique">Date Fermeture Juridique</span></dt>
          <dd>
            <span>{{ pmEtablissementRef.dateFermetureJuridique }}</span>
          </dd>
          <dt><span jhiTranslate="tmp9App.pmEtablissement.codeIDCC">Code IDCC</span></dt>
          <dd>
            <span>{{ pmEtablissementRef.codeIDCC }}</span>
          </dd>
          <dt><span jhiTranslate="tmp9App.pmEtablissement.codeTrancheEffectif">Code Tranche Effectif</span></dt>
          <dd>
            <span>{{ pmEtablissementRef.codeTrancheEffectif }}</span>
          </dd>
          <dt><span jhiTranslate="tmp9App.pmEtablissement.libelleTrancheEffectif">Libelle Tranche Effectif</span></dt>
          <dd>
            <span>{{ pmEtablissementRef.libelleTrancheEffectif }}</span>
          </dd>
          <dt><span jhiTranslate="tmp9App.pmEtablissement.dateCessationActivite">Date Cessation Activite</span></dt>
          <dd>
            <span>{{ pmEtablissementRef.dateCessationActivite }}</span>
          </dd>
          <dt><span jhiTranslate="tmp9App.pmEtablissement.dateEffectifOfficiel">Date Effectif Officiel</span></dt>
          <dd>
            <span>{{ pmEtablissementRef.dateEffectifOfficiel }}</span>
          </dd>
          <dt><span jhiTranslate="tmp9App.pmEtablissement.effectifOfficiel">Effectif Officiel</span></dt>
          <dd>
            <span>{{ pmEtablissementRef.effectifOfficiel }}</span>
          </dd>
          <dt><span jhiTranslate="tmp9App.pmEtablissement.codeMotifCessationActivite">Code Motif Cessation Activite</span></dt>
          <dd>
            <span>{{ pmEtablissementRef.codeMotifCessationActivite }}</span>
          </dd>
          <dt><span jhiTranslate="tmp9App.pmEtablissement.siret">Siret</span></dt>
          <dd>
            <span>{{ pmEtablissementRef.siret }}</span>
          </dd>
          <dt><span jhiTranslate="tmp9App.pmEtablissement.codeTypeEtablissement">Code Type Etablissement</span></dt>
          <dd>
            <span>{{ pmEtablissementRef.codeTypeEtablissement }}</span>
          </dd>
          <dt><span jhiTranslate="tmp9App.pmEtablissement.libelleEnseigne">Libelle Enseigne</span></dt>
          <dd>
            <span>{{ pmEtablissementRef.libelleEnseigne }}</span>
          </dd>
          <dt><span jhiTranslate="tmp9App.pmEtablissement.codeNIC">Code NIC</span></dt>
          <dd>
            <span>{{ pmEtablissementRef.codeNIC }}</span>
          </dd>
          <dt><span jhiTranslate="tmp9App.pmEtablissement.adresse">Adresse</span></dt>
          <dd>
            @if (pmEtablissement()!.adresse) {
              <div>
                <a [routerLink]="['/adresse', pmEtablissement()!.adresse?.id, 'view']">{{ pmEtablissementRef.adresse?.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="tmp9App.pmEtablissement.email">Email</span></dt>
          <dd>
            @if (pmEtablissement()!.email) {
              <div>
                <a [routerLink]="['/email', pmEtablissement()!.email?.id, 'view']">{{ pmEtablissementRef.email?.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="tmp9App.pmEtablissement.telephone">Telephone</span></dt>
          <dd>
            @if (pmEtablissement()!.telephone) {
              <div>
                <a [routerLink]="['/telephone', pmEtablissement()!.telephone?.id, 'view']">{{ pmEtablissementRef.telephone?.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="tmp9App.pmEtablissement.pmEntreprise">Pm Entreprise</span></dt>
          <dd>
            @if (pmEtablissement()!.pmEntreprise) {
              <div>
                <a [routerLink]="['/pm-entreprise', pmEtablissement()!.pmEntreprise?.id, 'view']">{{
                  pmEtablissementRef.pmEntreprise?.id
                }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/pm-etablissement', pmEtablissementRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
